@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.btn {
  border: none;
  background: #7140EB;
  padding: 11px 51px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18.34px;
  text-align: left;
  color: #FFFFFF;
  border-radius: 50px;
  transition: all 0.3s ease;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
.btn:active {
  opacity: 0.8;
  transform: scale(0.98);
}

.btn3 {
  display: flex;
  align-items: center;
  gap: 11px;
  background: transparent;
  border-radius: 50px;
  border: 1px solid #2E2C34;
  color: #2E2C34;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  transition: all 0.5s;
}
.btn3:hover {
  cursor: pointer;
  opacity: 0.9;
}
.btn3:active {
  opacity: 0.8;
  transform: scale(0.98);
}

.link {
  transition: all 0.5s ease;
}
.link:hover {
  opacity: 70%;
}
.link:active {
  color: #7140EB;
  transform: scale(0.9);
}

@media (max-width: 320px) {
  header nav {
    display: none;
  }
  header .header-content .container h1 {
    font-size: 48px !important;
    width: auto !important;
    line-height: 50px !important;
    letter-spacing: 0px !important;
  }
  main .works {
    padding: 10px 40px !important;
  }
  main .works .container h2 {
    font-size: 30px !important;
    line-height: 30px !important;
    margin-left: auto !important;
  }
  main .works .container .works-content {
    gap: 20px !important;
  }
  main .works .container .works-content img {
    width: 140px;
    margin-top: -60px;
  }
  main .works .container .works-content ol {
    font-size: 12px !important;
    padding-top: 10px !important;
  }
  main .works .container .works-content ol li {
    margin-bottom: 5px !important;
  }
  main .works .container .works-content ol li a {
    font-size: 8px !important;
    line-height: 16px !important;
  }
  main .works .container .works-content ol button {
    padding: 5px 16px !important;
    font-size: small;
  }
  main .move .container {
    padding: 20px 40px !important;
  }
  main .move .container h2 {
    font-size: 24px !important;
    line-height: 24px !important;
  }
  main .move .container p {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  main .move .container .move-content {
    display: grid !important;
    grid-template-columns: auto !important;
  }
  main .move .container .move-content .card {
    background: #FFFFFF !important;
    padding: 32px 24px !important;
    border-radius: 16px !important;
  }
  main .move .container .move-content .card .bike-photo {
    width: 100%;
    height: auto;
  }
  main .move .container .move-content .card .card-item_box .price-card p {
    font-size: 10px !important;
    font-weight: 600 !important;
    line-height: 18px !important;
  }
  main .move .container .move-content .card .card-item_box .price-card button {
    padding: 5px 11px !important;
    font-size: 10px !important;
    line-height: 18px !important;
  }
  main .move .container .move-content .card .card-item_box h3 {
    font-size: 16px !important;
    line-height: 24px !important;
    margin-top: 18px !important;
  }
  main .move .container .move-content .card .card-item_box .name-bike {
    font-size: 12px !important;
    line-height: 21.6px !important;
    margin-top: 3px !important;
  }
  main .move .container .move-content .card .card-item_box .btn3 {
    padding: 5px 11px !important;
    font-size: 12px !important;
    line-height: 10px !important;
  }
  main .just .container {
    padding: 69px 10px !important;
  }
  main .just .container .just-content {
    grid-template-columns: auto !important;
  }
  main .just .container .just-content div img {
    width: 100px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul, ol {
  list-style: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

header {
  background-image: url("../../../images/photos/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
header nav .container .nav-content {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
header nav .container .nav-content ul {
  display: flex;
  align-items: center;
  gap: 46px;
}
header nav .container .nav-content ul li a {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
}
header .header-content {
  margin-top: 153px;
}
header .header-content .container h1 {
  font-size: 99px;
  font-weight: 400;
  line-height: 111.19px;
  letter-spacing: 5px;
  text-align: center;
  color: #FFFFFF;
  width: 640px;
  margin: 0 auto;
  padding-bottom: 60px;
}
header .header-content .container p {
  font-size: 21px;
  font-weight: 400;
  line-height: 23.24px;
  text-align: center;
  width: 293px;
  color: #FFFFFF;
  margin: 0 auto;
  padding-bottom: 57px;
}
header .header-content .container button {
  margin: 0 auto;
  display: flex;
}

main .works {
  padding-top: 68px;
  padding-bottom: 73px;
  padding-left: 118px;
}
main .works .container h2 {
  font-size: 67px;
  font-weight: 400;
  line-height: 66.75px;
  color: #49464F;
  padding-bottom: 50px;
}
main .works .container .works-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 89px;
}
main .works .container .works-content ol {
  list-style: decimal;
  font-size: 28px;
  font-weight: 400;
  padding-top: 50px;
}
main .works .container .works-content ol li {
  margin-bottom: 24px;
}
main .works .container .works-content ol li a {
  color: #49464F;
  font-size: 28px;
  font-weight: 400;
  line-height: 34.42px;
  text-align: left;
  padding-left: 5px;
}
main .works .container .works-content ol button {
  padding: 20px 54px;
  margin-top: 37px;
  margin-left: -24px;
}
main .move {
  background-color: #F5F5F7;
}
main .move .container {
  padding: 68px 118px;
}
main .move .container h2 {
  font-size: 67px;
  font-weight: 400;
  line-height: 66.75px;
  text-align: left;
  margin-bottom: 27px;
  color: #2E2C34;
}
main .move .container .move-text {
  color: #2E2C34;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.82px;
  text-align: left;
}
main .move .container .move-content {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 16px;
  padding-top: 48px;
}
main .move .container .move-content .card {
  background: #FFFFFF;
  padding: 32px 24px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.5s;
}
main .move .container .move-content .card .bike-photo {
  padding-top: 35px;
}
main .move .container .move-content .card .card-item_box .price-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .move .container .move-content .card .card-item_box .price-card p {
  color: #49464F;
  font-size: 17px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}
main .move .container .move-content .card .card-item_box .price-card button {
  color: #7140EB;
  background: #F1EEF8;
  border: none;
  padding: 1px 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 20px;
}
main .move .container .move-content .card .card-item_box h3 {
  color: #49464F;
  font-size: 29px;
  font-weight: 400;
  line-height: 34.42px;
  text-align: left;
  margin-top: 38px;
}
main .move .container .move-content .card .card-item_box .name-bike {
  color: #49464F;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  margin-top: 3px;
}
main .move .container .move-content .card .card-item_box .btn3 {
  padding: 22px 39px;
  margin-top: 11px;
}
main .move .container .move-content .card:hover {
  transform: scale(1.05);
}
main .move .container .move-content .card:active {
  transform: scale(1);
}
main .just {
  background: #F5F5F7;
}
main .just .container {
  padding: 69px 118px;
}
main .just .container .just-content {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
main .just .container .just-content .just-text h2 {
  font-size: 67px;
  font-weight: 400;
  line-height: 66.75px;
  text-align: left;
  width: 426px;
  color: #2E2C34;
}
main .just .container .just-content .just-text .just-text1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: #2E2C34;
  width: 303px;
  margin-top: 26px;
  margin-bottom: 39px;
}
main .just .container .just-content .just-text .btn3 {
  padding: 12px 39px;
}
main .just .container .just-content div img {
  margin-left: 17px;
}
main .countries {
  background-image: url(../../../images/photos/country-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
main .countries .container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 98px 123px;
  color: #FFFFFF;
}
main .countries .container .country-name {
  font-size: 100px;
  font-weight: 400;
  line-height: 111.19px;
  letter-spacing: 5px;
  text-align: right;
}
main .countries .container .country-text h2 {
  font-size: 65px;
  font-weight: 400;
  line-height: 66.75px;
  text-align: left;
  width: 319px;
}
main .countries .container .country-text .country-text_1 {
  font-size: 21px;
  font-weight: 400;
  line-height: 24.82px;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 29px;
  width: 242px;
}
main .countries .container .country-text .btn {
  padding: 20px 54px;
}
main .countries .container .country-text .country-text_2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
  margin-top: 33px;
  margin-bottom: 20px;
}
main .charge .container {
  display: flex;
  align-items: center;
  padding: 69px 118px;
  justify-content: space-between;
}
main .charge .container .charge-card_left h2 {
  font-size: 65px;
  font-weight: 400;
  line-height: 66.75px;
  text-align: left;
  color: #2E2C34;
  width: 248px;
}
main .charge .container .charge-card_left .charge-p {
  font-size: 21px;
  font-weight: 400;
  line-height: 24.82px;
  text-align: left;
  width: 252px;
  color: #2E2C34;
  margin-top: 27px;
  margin-bottom: 36px;
}
main .charge .container .charge-card_left .charge-box {
  display: flex;
  align-items: center;
  padding: 7px 16px;
  background: #F5F5F7;
  border-radius: 40px;
  margin-top: 16px;
  cursor: pointer;
  transition: all 0.5s ease;
}
main .charge .container .charge-card_left .charge-box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  margin-left: 16px;
}
main .charge .container .charge-card_left .charge-box:hover {
  transform: scale(1.04);
}
main .charge .container .charge-card_left .charge-box:active {
  transform: scale(1);
}
main .charge .container .charge-card_right {
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
  padding-top: 48px;
}
main .charge .container .charge-card_right .card {
  background: #F5F5F7;
  padding: 32px 24px;
  border-radius: 16px;
}
main .charge .container .charge-card_right .card .bike-photo {
  padding-top: 35px;
}
main .charge .container .charge-card_right .card .card-item_box .price-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .charge .container .charge-card_right .card .card-item_box .price-card p {
  color: #49464F;
  font-size: 17px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}
main .charge .container .charge-card_right .card .card-item_box .price-card button {
  color: #7140EB;
  background: #F1EEF8;
  border: none;
  padding: 1px 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 20px;
}
main .charge .container .charge-card_right .card .card-item_box h3 {
  color: #49464F;
  font-size: 29px;
  font-weight: 400;
  line-height: 34.42px;
  text-align: left;
  margin-top: 38px;
}
main .charge .container .charge-card_right .card .card-item_box .name-bike {
  color: #49464F;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  margin-top: 3px;
}
main .charge .container .charge-card_right .card .card-item_box .btn {
  padding: 20px 54px;
  margin-top: 11px;
}
main .more {
  background: #F5F5F7;
}
main .more .container {
  display: flex;
  justify-content: space-between;
  padding: 96px 123px;
}
main .more .container .more-content-right {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
main .more .container .more-content-right div {
  display: flex;
  align-items: center;
  gap: 28px;
  cursor: pointer;
}
main .more .container .more-content-right div p {
  font-size: 21px;
  font-weight: 400;
  line-height: 24.82px;
  text-align: left;
  color: #2E2C34;
  transition: all 0.5s ease;
}
main .more .container .more-content-right div:hover p {
  transform: scale(1.06);
  color: #7140EB;
}
main .more .container .more-content-right div:active p {
  transform: scale(1);
}
main .more .container .more-content-left {
  margin-top: 95px;
}
main .more .container .more-content-left h2 {
  font-size: 67px;
  font-weight: 400;
  line-height: 66.75px;
  text-align: left;
  color: #2E2C34;
  width: 235px;
  margin-bottom: 53px;
}
main .more .container .more-content-left button {
  padding: 12px 44px;
}
main .comments {
  color: #49464F;
}
main .comments .container {
  padding: 68px 118px;
}
main .comments .container h2 {
  font-size: 66px;
  font-weight: 400;
  line-height: 66.75px;
  text-align: left;
  margin-bottom: 98px;
}
main .comments .container .com-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 5px;
}
main .comments .container .com-card div h3 {
  font-size: 29px;
  font-weight: 400;
  line-height: 28.69px;
  text-align: left;
  margin-bottom: 19px;
  width: 236px;
}
main .comments .container .com-card div:nth-child(2) h3 {
  width: 265px;
}
main .comments .container .com-card div:nth-child(2) p {
  margin-top: 47px;
}

footer {
  background-image: url("../../../images/photos/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
footer .container {
  padding: 98px 80px;
}
footer .container .footer-boxes {
  display: flex;
  align-items: start;
  justify-content: space-between;
  color: #FFFFFF;
}
footer .container .footer-boxes .box1 h2 {
  font-size: 29px;
  font-weight: 400;
  line-height: 34.42px;
  text-align: left;
}
footer .container .footer-boxes .box1 .box1-p {
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 286px;
  margin-top: 18px;
  margin-bottom: 29px;
}
footer .container .footer-boxes .box1 .box1-p1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  width: 259px;
  margin-top: 25px;
}
footer .container .footer-boxes .box1 form {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 18px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .container .footer-boxes .box1 form input {
  border: none;
  background: transparent;
  font-size: 16px;
  line-height: 22px;
}
footer .container .footer-boxes .box1 form img {
  width: 24px;
  height: 20px;
}
footer .container .footer-boxes .footer-box .name {
  opacity: 50%;
}
footer .container .footer-boxes .footer-box ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 8px;
}
footer .container .footer-boxes .footer-box ul li a {
  color: #FFFFFF;
}
footer .container .last-footer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: end;
  margin-top: 96px;
}
footer .container .last-footer-box svg {
  cursor: pointer;
}
footer .container .last-footer-box svg path {
  transition: all 0.5s;
}
footer .container .last-footer-box svg path:hover {
  fill: #7140EB;
}/*# sourceMappingURL=main.css.map */